@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Flow+Circular&family=Luckiest+Guy&family=Poppins:wght@300;400;500;600;700&family=Righteous&display=swap');
html {
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.5s;
}

body {
    min-height: 100vh;
    width: 100vw;
    background:linear-gradient(135deg , darkblue ,cyan);
}
.app {
    padding: 60px 40px;
}
.container {
    width:600px;
    padding-bottom: 0px;
    margin: 100px auto 20px;
    background-color: white;
    border-radius: 30px;
    position: relative;
}
.reset {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 15px;
}
.reset .reset-btn {
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    padding: 15px 42px;
    border-radius: 30px;
    border: 0;
    color: white;
    background-color: darkblue;  
    width: 100%;
}
.disabled {
    filter: grayscale(1);
}
.container header {
    display: flex;
    align-items: center;
     margin-bottom: 15px;
}

.container header img {
    width: 50px;
    margin-left: 10px;
}
.app-box {
    margin-bottom: 20px;
}
.todo-app {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(203, 201, 201);
    border-radius: 30px;
    padding-left: 15px;
    width: 100%;
  
}

input {
    flex: 1;
    outline: none;
    border: none;
    padding: 15px 4px;
    background-color: transparent;

}
button {
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    padding: 15px 50px;
    border-radius: 30px;
    border: 0;
    color:black;
    background-color:rgb(244, 174, 44);
}

#list-container {
    list-style: none;
}
#list-container li {
    font-size: 16px;
    position: relative;
    padding: 8px 8px 8px 35px;
    user-select: none;
    cursor: pointer;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex:1;
}
#list-container li::before {
    content: '';
    position: absolute;
    left: -3px;
    top: 50%;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transform: translateY(-50%);
    border: 2px solid grey;
}
#list-container li.checked {
    text-decoration: line-through;

}
#list-container li.checked::before {
    background-image: url('img/checked.jpg');
    background-size: cover;
    background-position: center;
    border: 0;
    height: 23px;
    width: 23px;
}
.error {
    color: red;
    font-weight: 600;
    font-style: italic;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}

ul li span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    width: 50px;
    height: 50x;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 12;
    pointer-events: all;
    border-radius: 10px;
}
ul li span i {
    color: red;
}
ul li span:hover {
    background-color: red;
}
ul li span:hover i {
    color: white;
}
 span i.unchecked {
    text-decoration: none;
}

footer {
    margin-top: 30px;
    background-color:rgb(244, 174, 44);
    border-bottom-left-radius:30px ;
    border-bottom-right-radius:30px ;
    overflow: hidden;
    padding: 20px 50px;
    text-align: center;
}
footer p {
    font-weight: 600;

}
footer .social-links {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 40px;
     margin-top: 10px;
     
}
footer .social-links a i {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

@media (max-width:765px) {
    .container {
      width: 350px;
    }
    h2 {
        font-size: 24px;
    }
    img {
        width: 20px;
    }
    button {
        padding: 15px 20px;
    }
    input {
       padding: 10px 3px;
    }
    .reset {
        width: 100%;
    }
    .reset-btn {
        padding: 10px 17px;
        width: 100%;
    }
    footer {
        padding: 10px 25px;
    }
    .todo-app  {
        background-color: rgb(219, 217, 217);
    }
    .error {
        font-size: 12px;
    }
}
